<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upstridge.tmapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".bus.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bus.ProvinceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.OriginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.DestinationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.VehicleActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.TravellersActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.BookingActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.SeatsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.SeatSelectionActivityNew"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.SelectPeriod"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.RequestTaxiActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.TaxiActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".sgr.SgrActivity1"
            android:label="@string/app_name" />
        <activity
            android:name=".sgr.SgrDetailActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".sgr.SeatSelectionActivityNew"
            android:label="@string/app_name" />
        <activity
            android:name=".sgr.SgrSeats"
            android:label="@string/app_name" />
        <activity
            android:name=".sgr.SgrBooking"
            android:label="@string/app_name" />
        <activity
            android:name=".events.events"
            android:label="@string/app_name" />
        <activity
            android:name=".events.NumberOfClients"
            android:label="@string/app_name" />
        <activity
            android:name=".events.eventBooking"
            android:label="@string/app_name" />
        <activity
            android:name=".airline.AirlineActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".airline.Airplanes"
            android:label="@string/app_name" />
        <activity
            android:name=".airline.SeatSelectionActivityNew"
            android:label="@string/app_name" />
        <activity
            android:name=".airline.AirlineBooking"
            android:label="@string/app_name" />
        <activity
            android:name=".taxi.PeriodActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".taxi.TaxiActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".taxi.TaxiBooking"
            android:label="@string/app_name" />
        <activity
            android:name=".hotel.CheckTimeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".hotel.HotelActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".hotel.Customers"
            android:label="@string/app_name" />
        <activity
            android:name=".hotel.hotelBooking"
            android:label="@string/app_name" />
        <activity
            android:name=".hotel.rooms"
            android:label="@string/app_name" />
        <activity
            android:name=".bus.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".sgr.SgrHomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".airline.PlaneHomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".carhire.CarHireHomeActivity"
            android:label="@string/title_activity_car_hire_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".carhire.SelectCarActivity"
            android:label="@string/title_activity_select_car"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".carhire.NumberOfCarsActivity"
            android:label="@string/title_activity_number_of_cars"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".carhire.CarHireBooking"
            android:label="@string/title_activity_car_hire_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bus.StartActivity1"
            android:label="@string/title_activity_start"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>