<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upstridge.tmapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProvinceActivity"
            android:label="@string/title_activity_province" />
        <activity
            android:name=".OriginActivity"
            android:label="@string/title_activity_origin" />
        <activity
            android:name=".DestinationActivity"
            android:label="@string/title_activity_destination" />
        <activity
            android:name=".VehicleActivity"
            android:label="@string/title_activity_vehicle" />
        <activity
            android:name=".TravellersActivity"
            android:label="@string/title_activity_travellers" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".BookingActivity"
            android:label="@string/title_activity_booking" />
        <activity
            android:name=".SeatsActivity"
            android:label="@string/title_activity_seats" />
        <activity
            android:name=".SeatSelectionActivityNew"
            android:label="@string/title_activity_seats" />
        <activity
            android:name=".SelectPeriod"
            android:label="@string/title_activity_select_period" />
        <activity
            android:name=".RequestTaxiActivity"
            android:label="@string/title_activity_request_taxi" />
        <activity
            android:name=".TaxiActivity"
            android:label="@string/title_activity_taxi" />
        <activity
            android:name=".sgr.SgrActivity"
            android:label="@string/title_activity_sgr" />
        <activity
            android:name=".sgr.SgrDetailActivity"
            android:label="@string/title_activity_sgr_detail" />
        <activity
            android:name=".sgr.SeatSelectionActivityNew"
            android:label="@string/title_activity_sgr_detail" />
        <activity
            android:name=".sgr.SgrSeats"
            android:label="@string/title_activity_sgr_detail" />
        <activity
            android:name=".sgr.SgrBooking"
            android:label="@string/title_activity_sgr_booking" />
        <activity
            android:name=".events.events"
            android:label="@string/title_activity_events" />
        <activity
            android:name=".events.NumberOfClients"
            android:label="@string/title_activity_number_of_clients" />
        <activity
            android:name=".events.eventBooking"
            android:label="@string/title_activity_event_booking" />
        <activity
            android:name=".airline.AirlineActivity"
            android:label="@string/title_activity_airline" />
        <activity
            android:name=".airline.Airplanes"
            android:label="@string/title_activity_airplanes" />
        <activity
            android:name=".airline.SeatSelectionActivityNew"
            android:label="Select Seat" />
        <activity
            android:name=".airline.AirlineBooking"
            android:label="@string/title_activity_airline_booking" />
        <activity
            android:name=".taxi.PeriodActivity"
            android:label="@string/title_activity_period" />
        <activity
            android:name=".taxi.TaxiActivity"
            android:label="@string/title_activity_taxi" />
        <activity
            android:name=".taxi.TaxiBooking"
            android:label="@string/title_activity_taxi_booking" />
        <activity
            android:name=".hotel.CheckTimeActivity"
            android:label="@string/title_activity_check_time" />
        <activity
            android:name=".hotel.HotelActivity"
            android:label="@string/title_activity_hotel"></activity>
    </application>

</manifest>